@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
font-family: Roboto;
}
.accordion-item{
    display: flex;
    flex-direction: column;
    border: none;
}
h3
{
    color: #D10011;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.accordion-button:not(.collapsed) {
box-shadow: none;
}
h1
{
    color: #1E1E1E;
font-family: Rubik;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
h4
{
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.faq-about-section
{
    padding:104px 0px;
}
.faq-about-p
{
    color: #4E4E4E;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.banner-p{
    color: #7F7F7F;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.accordion-button:focus
{
    color: #1E1E1E;

}
.accordion-button:not(:focus)
{
    color: #1E1E1E;

}
.accordion-button
{
    color: #1E1E1E;
}
.accordion-header {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
}
.faq-banner
{
    margin: 43px 0 79px;
}

.accordion-body{
    align-self: stretch;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160% ;     
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background-color: #FFF;
}
.accordion-button
{
    border: none;
}
.accordion-header
{
    border: none;
}
.accordion-item
{
    border: none;
}

.accordion-button::after {
    background-image: url("./public/images/plus.svg");

    box-shadow: none;

}

.accordion-button:not(.collapsed)::after {
    background-image: url("./public/images/minus.png");

    box-shadow: none;
}