body{
    margin:0;
    padding: 0;
}

/* navbar */

nav{
    height: 80px;
    background-color: white;
}
.navbar{
    padding-top: 27px;
    padding-bottom: 27px;
}

/* index (genre and themes main */
.text{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 44px
}
.text h2{
    font-family: 'Rubik' , sans-serif;
}
.allbooks{
    padding-top: 92px;
    height: 626px;
    background-color: #1E1E1E;
}
.seeall{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 9px;
 
}
.seeall a{
        font-size: 18px;
        color: white;
}
.rightarrow{
    width: 24px;
    height: 24px;
}
.book-image{
    height: 296px;  
    width: 183px;
}
.available{
    margin: 0px;
    padding: 8px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: #5CA202;
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.booked{
    margin: 0px;
    padding: 8px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: #C22A34;
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.imagetext{
    color: white;
    margin-top: 10px;
}
.imagepart{
    width: 183px;

}
.bookauthor{
    font-size: 13px;
}
.bookname{
    font-size: 15px;
    margin-bottom: 10px;
}
.midpart{
    display: flex;
    flex-direction: row;
    gap: 71.25px;
    justify-content: space-between;
}
.tag{
    position: relative;
}
.genrecollection{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 26px;
    padding-top: 55px;
    flex-wrap: wrap;
}
.genrecolumn{
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    width: calc(100%/5 - 21px);
}
.genreandthemes{
    margin-top: 35px;
    margin-bottom: 90px
    
}
.genreheading{
    color: #1E1E1E;
    display: flex;
    justify-content: center;
}
.genrecoverpicture{
    height: 100%;
    border-radius: 108px;
    width: 100%;
}
.genrecover{
    border: 1px dashed rgba(30, 30, 30, 0.40);
    border-radius: 119px;
    width: 100%;
    height: 348px;
    padding: 10px;
}
.genretitle{
    font-size: 18px;
    color: #1E1E1E;
}
.noofbooks{
    font-size: 14px;
    color: rgba(30, 30, 30, 0.40);
}

/* ALL BOOKS */
.booksone{
    background-color:#1E1E1E ;
}
.allbooks-topheading{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 58px;
}
.searchsection{
    display: flex;
    margin-top: 29px;
    margin-bottom: 44px;

}
.allbooks-searchbg{
    height: 42px;
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 95%;
    border: none;
    padding-left: 7px;
    border: none;
    outline-style: none;
}
.allbooks-searchinside{
    display: flex;
    gap: 10px;
    padding: 10px 0px 10px 10px;
}
.allbooks-searchtitle{
    font-size: 14px;
    color: #1E1E1E;
}
.allbooks-searchicon{
    width: 24px;
    padding-bottom: 3px;
}
.allbooks-collection{
    display: flex;
    flex-wrap: wrap;
    gap: 71.25px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sortby {
    color: white;
    font-size: 14px;
    margin: 0;
}
.dropdown{
    height: 42px;
    background-color: #DFDFDF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.dropdown-menulist{
    font-size: 14px;
    color: #1E1E1E;
    padding-left: 10px;
    text-decoration: none;
}
.arrow-down{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.allbooksone-pagination ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.pagination-item {
    border: 1px solid white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.pagination-item-filled{
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.pagination-item-filled a{
    text-decoration: none;
    list-style: none;
    color: #1E1E1E;
    align-items: center;
    padding: 15px;
    line-height: 37px;
}
.pagination-item a{
    text-decoration: none;
    list-style: none;
    color: white;
    align-items: center;
    padding: 15px;
    line-height: 37px;
}
.previous a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.list ul{     
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}


/* footer */
.logos{
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 149px;
    height: 26px;
}

footer{
    background-color: #1E1E1E;
    height: 100%;
    width: 100%;
    padding: 40px 0  0 0;
}

.lists{
    display: flex;
    gap: 100px;
}

.listtitle{
    font-size: 18px;
    color: #ffff;
    list-style: none;
    margin-bottom: 25px;
    font-weight: 700;
    width: max-content;
}

.listitem{
    color: #ffff;
    list-style: none;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 400;
}

.footlogo{
    height: 35px;
    width: 35px;
}

.socials{
    gap: 20px;
    display: flex;
}

.footlink{
    color: #ffff;
    text-decoration: none;
}

.copyright{
    display:flex ;
    width: 100%;
    background-color: #ffff;
    color:#1E1E1E ;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

/* privacy and policy */
.privacypolicy{
     /* height: 500px; */
     /* width: 100%; */
     background-image: url('openbook.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     /* position: relative; */
     margin-bottom: 50px;

}
.overlay{
    background-color: #1E1E1E;
    width: 100%;
    opacity: 87%;
}
.privacytop{
    padding: 159px 387px;
    /* display: inline-flex; */
}
.privacy-heading{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
.privacy-paragraph{
    color: white;
    text-align: center;
}
.privacy-text{
    display:flex ;
    flex-direction: column;
    /* gap: 30px; */
}
.privacy-infoheading{
    font-size: 18px;
    font-weight: bold;
    color: #1E1E1E;

}
.privacy-info{
    font-size: 16px;
    color: #1E1E1E;

}

/* genre-page */

.genretop{
    background-image: url(science.jpg);
    height: 318px;
    background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 85px;
     position: relative;
}
.genretop::before {
    background-color: #1E1E1E;
    position: absolute;
    content: "";
    z-index: 2;
    opacity: 60%;
    height: 100%;
    width: 100%;
}
.genreoverlay{
    /* background-color: #1E1E1E; */
    width: 100%;
    height: 100%;
    /* opacity: 80%; */
}
.genrename{
color: white;
/* font-weight: bold; */
/* font-family: Rubik; */
font-size: 80px;
letter-spacing: 8px;
display: flex;
justify-content: center;
margin-top: 76px;
margin-bottom: 29px;
z-index: 3;
position: relative;

}
.genre-bookauthor{
    font-size: 13px;
    color: #1E1E1E;
}
.genre-bookname{
    font-size: 15px;
    margin-bottom: 10px;
    color: #1E1E1E;
}
.genrepagination-item{
    color: #1E1E1E;
}
ul{
    align-items: center;
}
.genrebooksone-pagination ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.genrepagination-item {
    border: 1px solid #1E1E1E;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.genrepagination-item a{
    text-decoration: none;
    list-style: none;
    color: #1E1E1E;
    align-items: center;
    padding: 15px;
    line-height: 37px;
}
.genrepagination-itemfilled{
    border: 1px solid #1E1E1E;
    background-color: #1E1E1E;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.genrepagination-itemfilled a{
    text-decoration: none;
    list-style: none;
    color: white;
    align-items: center;
    padding: 15px;
    line-height: 37px;
}
.genre-previous a{
    text-decoration: none;
    list-style: none;
    color: #1E1E1E;
}
.genre-list ul{     
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.search
{
    background-color: white;
    border: 1px solid #000  ;
    border-radius: 20px;
    padding: 10px;
    z-index: 3;
position: relative;
}
.search input
{
    background-color: white;
    border: 0px;
    outline-style: none;
    width: 90%
}


/* contact us */
.getintouch-section{
    background-color: #1E1E1E;
    /* height: 423px; */
    padding: 74px 0px;
}
.getintouch-heading{
    font-size: 20px;
    font-style: italic;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;
}
.threecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phonecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 51px 53px;
    width: 264px;
    height: 210px;
    border-right: 1px solid white;
    gap: 15px;
   
}
.addresscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 51px 53px;
    width: 264px;
    height: 210px;
    border-right: 1px solid white;
    gap: 15px;
}
.emailcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 51px 53px;
    width: 264px;
    height: 210px;
    gap: 15px;
}
.contentheading{
    font-size: 14px;
    color: white;
    text-align: center;
}
.contactus-titleheading{
    font-size: 48px;
    letter-spacing: 4.32px;
    color: #1E1E1E;
    padding: 10px 29.5px;
    border: 2px solid #1E1E1E;
    margin: 60px 0px;
    text-align: center;
}
.contactus-questionparagraph{
    color: #1E1E1E;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    margin: 0;
}
.contactus-downpart{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 64px;
}
.contactus-name{
    height: 39px;
    padding: 10px;
    border: 1px solid #7F7F7F;
    margin-bottom: 30px;
}
.contactus-email{
    height: 39px;
    padding: 10px;
    border: 1px solid #7F7F7F;
    margin-bottom: 30px;
}
.contactus-message{
    height: 180px;
    padding: 10px;
    border: 1px solid #7F7F7F;
    display: flex;
    justify-content: start;
    align-items: start;
    /* margin-bottom: 30px; */
}
.contactus-textfields{
    display: flex;
    flex-direction: column; 
}
.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitbutton{
    background-color: #1E1E1E; 
    border-radius: 5px;
    padding: 12px 58px;
    color: white;
    font-size: 14px;
    text-align: center;

}
.map{
    height: 327px;
    background-image: url(map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:22px ;
    position: relative;
}
.contactus-icon{
    height: 30px;
}
.map-loc{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 115px;
}
.map-text{
    color: white;
}

/* blog description */
.blogtopic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.blogheading{
    font-size: 32px;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Rubik' sans-serif;
    font-weight: 501px;
}
.blogsubheading{
    font-size: 16px;
    color: #3D3D3D;
    text-align: center;
}
.blogdesc-img{
    width: 100%;
    height: 324px;
    margin-top: 30px;
    margin-bottom: 37px;
}