.booksone {
    background-color: #1E1E1E;

    .allbooks-topheading {
        display: flex;
        justify-content: center;
        padding-top: 37px;

        h2 {
            color: white;
        }
    }

    .searchsection {
        display: flex;
        align-items: center;
        margin-bottom: 44px;



        .allbooks-searchbg {
            height: 42px;
            background-color: #DFDFDF;
            border-radius: 5px;
            width: 100%;
            border: none;
            padding-left: 7px;
            border: none;
            outline-style: none;
            display: flex;
            justify-content: center;



            .allbooks-searchicon {
                width: 24px;

            }
        }

        .right {
            display: flex;
            gap: 30px;
            justify-content: flex-end;

            p {
                display: flex;
                align-items: center;
                color: white;
                font-size: 14px;

                @media (max-width:768px) {
                    display: none;
                }
            }

            .sortby {
                color: white;
                font-size: 14px;
                margin: 0;
            }

            #dropdown {
                width: 180px;
                background-color: #DFDFDF;

            }

            .dropdown {
                height: 42px;
                background-color: #DFDFDF;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 180px;

                @media (max-width: 768px) {
                    width: fit-content;
                }

                .dropdowntext {
                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                .dropdown-menulist {
                    font-size: 14px;
                    color: #1E1E1E;
                    padding-left: 10px;
                    text-decoration: none;

                }

                .arrow-down {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }


        }

    }

    .allbooks-collection {
        display: flex;
        flex-wrap: wrap;
        gap: 71.25px;
        justify-content: space-between;
        margin-bottom: 50px;

        a {
            text-decoration: none;
        }

        @media (min-width:992px) {
            gap: 40px;
        }

        @media (min-width:1200px) {
            gap: 50px;
        }

        @media (min-width:1400px) {
            gap: 71.25px;
        }

        @media (max-width: 462px) {
            justify-content: center;
            gap: 30px;
        }


        .imagepart {
            width: 183px;

            .tag {
                position: relative;

                .book-image {
                    height: 296px;
                    width: 183px;
                }

                .available {
                    margin: 0px;
                    padding: 8px;
                    align-items: center;
                    display: inline-flex;
                    justify-content: center;
                    background-color: #5CA202;
                    font-size: 13px;
                    color: white;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }

                .booked {
                    margin: 0px;
                    padding: 8px;
                    align-items: center;
                    display: inline-flex;
                    justify-content: center;
                    background-color: #C22A34;
                    font-size: 13px;
                    color: white;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }

            }

            .imagetext {
                color: white;
                margin-top: 10px;

                .bookname {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                .bookauthor {
                    font-size: 13px;
                }
            }


        }
    }

    .allbooksone-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        @media screen and (max-width:767px) {
            margin-top: 30px;
        }

        .pagestn {
            border-radius: 100%;
            width: 30px;
                height: 30px;
                margin-left: 14px;
            border: 2px solid #fff;
            background-color: #1E1E1E;
            color: #fff;
            @media (min-width: 576px ) 
            {
                width: 40px;
                height: 40px;
                margin-left: 20px;
                
            }

            
           
        }
        .pagestn-active
            {
                @extend .pagestn;
                background-color: #fff;
                color: #1E1E1E;   
            }

        .paginationext {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 20px;
        }


    }
}