.Booked-books {
    background-color: #F2F4F5;

    .profileinfo {
        margin: 44px 0 0 0;

        .bookedactions{
            

            @media screen and (max-width: 768px) {
                height:80%;
                width: 100%;     
                padding-left: 15%;           
            }
        }
    }
}