.Booked-books-edit {
    background-color: #F2F4F5;

    .profilenavigation {
        padding: 44px 0 84px 0;
        background-color: #FFF;
        box-shadow: 8px 0px 20px 0px rgba(0, 0, 0, 0.10);

        .profilepic {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .pp {
                border-radius: 120px;
                width: 187px;
            }

            h2 {
                color: #1E1E1E;
                text-align: center;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                font-family: 'Rubik', sans-serif;
                padding-top: 15px;
            }
        }

        .profilenav {
            padding-top: 58px;

            @media (min-width: 768px) {
                display: block !important;
            }

            .collapse:not(.show) {
                display: none;
            }

            h3 {
                color: #1E1E1E;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px 0;

                a {
                    color: #1E1E1E;
                    text-decoration: none;
                }
            }
        }
    }

    .profileinfo {
        margin: 44px 0 0 0;

        h1 {
            display: block;
            padding: 0;
            height: 56px;
        }

        .bookingedit {
            padding-top: 175px;
            

            @media screen and (max-width768px) {
                padding-top: 25px;
            }

            h4 {
                color: #9F9E9E;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
            }

            h3 {
                padding: 70px 0;
                color: #3D3D3D;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 1;
                padding: 0;
            }

            .editform {
                padding: 70px 0;
                display: flex;
                gap: 50px;

                @media screen and (max-width:1110px) {
                    flex-direction: column;                    
                }

                input {
                    border: 1px solid #9F9E9E;
                    border-radius: 10px;
                    padding: 10px 16px;
                    width: 285px;

                    &-icon {
                        position: absolute;
                        right: 13px;
                        top: 7px;
                        bottom: 8px;
                    }
                }

                input[type="date"] {
                    color: #9F9E9E;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                input[type="date"]::-webkit-calendar-picker-indicator {
                    background: url('../images/calendar.svg') no-repeat center/80%;
                    color: #9F9E9E;
                }
            }
        }

        .editbtn {
            display: inline-flex;
            color: #FFF;
            width: 95px;
            height: 40px;
            min-width: 95px;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: #1E1E1E;
            margin-right: 20px;
            border: none;
        }

    }
}