.profile {
    background-color: #F2F4F5;

    

    .profileinfo {
        margin: 44px 0 0 0;

        h1 {
            display: block;
            padding: 0;
            height: 56px;
        }

        .profileform {
            margin: 47px 0;

            .label {
                color: #9F9E9E;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .place {
                margin-bottom: 45px;
                width: 100%;
                max-height: 36px;
                color: #1E1E1E;
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #9F9E9E;
                background-color: #F2F4F5;

                &::placeholder {
                    color: #1E1E1E;
                }
            }
        }

        .profilebtn {
            display: inline-flex;
            width: 95px;
            height: 40px;
            min-width: 95px;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: #CFCFCF;
            margin-right: 20px;
            border: none;
        }
    }
}