.Saved-books {
    background-color: #F2F4F5;

    .profileinfo {
        margin: 44px 0 0 0;

        h1 {
            display: block;
            padding: 0;
            height: 56px;

        }

        .trashicon{
            padding-left: 30%;
        }
    }
}