.about-banner {

    img {
        margin-bottom: -40px;
    }
}

.blogs {
    margin: 70px 0;

    .eachblog {
        margin: 0 0 70px 0;

        .blogsimage2 {
            width: 100%;
        }

        h3 {
            color: #1E1E1E;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            margin: 15px 0 8px 0;
        }

        .pubdate {
            color: #7F7F7F;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }

        .blogconte {
            color: #3D3D3D;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
            padding-right: 20px;
        }

        .secbtn {
            background: #1E1E1E;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            border: none;
            color: #ffff;
            font-family: 'Roboto', sans-serif;

            &:hover{
                background-color: #ffff;
                color: #1E1E1E;
                border: 1px solid #1E1E1E;
            }
        }
    }

    .checkblogsbtn {
        display: flex;
        align-items: center;
        justify-content: center;

        .checkbtn {
            border-radius: 5px;
            border: 1px solid #000;
            display: flex;
            width: 386px;
            padding: 12px 10px;
            justify-content: center;
            align-items: center;
            background-color: #ffff;
            color: #1E1E1E;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: 'Roboto', sans-serif;


            &:hover {
                background-color: #1E1E1E;
                color: #ffff;
            }
        }
    }
}