.background {
    // position: relative;
    // background-image: url("../images/book-background.png");
    // height: 100%;
    // width: 100%;
    // background-size:cover;

    // &::before {
    //     background-size:cover;   
    //     height: 100%;
    //     width: 100%;
    //     position: absolute;
    //     z-index: 0;
    //     content: "";
    //     background-image: url("../images/background-vector.svg");
    //     background-repeat: no-repeat;
    //     padding-right: 10px;
    // }

    .content {
        z-index: 2;
        position: relative;
        .container {
            .signin-nav-bar {
                margin-right: 64px;
            }
        }
    }
    .nav
    {
        display: none;
    }
    .btn {
        border-radius: 24px;
    }
    .btn-dark {
        background-color: $black;
    }
    form {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        margin-top: 24px;
      
        .forgot
        {
            align-self: flex-end;
    text-decoration: none;


        }
    }
    .redirect-signup {
        display: flex;
        a {
            margin-left: 4px;
        }
    }
    .forgot {
        align-self: flex-end;
    }
    @media (min-width:$md) 
    {
        .content
        {  
         .nav
         {
            display: block;
         }

        }
    }
}