.navigation-button {
    display: inline-flex;
    align-items: center;
    border-radius: 24px;
    padding: 8px 12px 5px 6px;
    h3 {
        @include text(12px, Roboto, 400, $black);
        margin: 0px;
    }
    @media (min-width:$xl) 
    {
        h3 {
            font-size: 18px;
        }
    }
}

.navigation-button-enabled {
    @extend .navigation-button;

    &:hover {
        background-color: $black;
        color: white;
        svg {
            path {
                stroke: white;
            }
        }
        h3 
        {
            color: white;
        }
    }
}

.navigation-button-disabled {
    @extend .navigation-button;
    color: white;
    background-color: $black;
    svg {
        path {
            stroke: white;
        }
    }
    h3 
    {
        color: white;
    }
}



.navigation-button-genre-enabled
{
    @extend .navigation-button-enabled;
    padding: 8px 12px 5px 12px;

}
.navigation-button-genre-disabled
{
    @extend .navigation-button-disabled;
    padding: 8px 12px 5px 12px;
}

