@mixin search-bar-animation($width, ) {
    @keyframes expand-search-bar {
        from {
            width: 0px;
        }
        to {
            width: $width;
        }
    }

    animation-name: expand-search-bar;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.search {
    overflow: hidden;
    border: 2px solid $black;
    border-radius: 25px;
    padding: 0px 2px;

    &:hover {
        input {
            @include search-bar-animation(77px);
            width: 77px;
            padding-left: 10px;
        }
        @media (min-width: $xl) {
            input {
                @include search-bar-animation(120px);
                width: 120px;
            }
        }
    }

    input {
        width: 0px;
        border: none;
        outline: none;
        &:focus {
            width: 77px;

            padding-left: 10px;
        }

        @media (min-width: $xl) {
            &:focus {
                width: 120px;
            }
        }
    }
}
