@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul li {
  text-decoration: none;
}

.missions {
  background-color: #F2F2F2;
}

.about-banner button {
  background: #F2F2F2;
  border: 0px;
}

.circle:hover {
  background-color: #1e1e1e;
}
.circle:hover path {
  fill: white;
}

.about-banner img {
  margin-bottom: -40px;
}

.blogs {
  margin: 70px 0;
}
.blogs .eachblog {
  margin: 0 0 70px 0;
}
.blogs .eachblog .blogsimage2 {
  width: 100%;
}
.blogs .eachblog h3 {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 15px 0 8px 0;
}
.blogs .eachblog .pubdate {
  color: #7F7F7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.blogs .eachblog .blogconte {
  color: #3D3D3D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  padding-right: 20px;
}
.blogs .eachblog .secbtn {
  background: #1E1E1E;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border: none;
}
.blogs .eachblog .secbtn .blogsancor {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.blogs .checkblogsbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blogs .checkblogsbtn .checkbtn {
  border-radius: 5px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 386px;
  padding: 12px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.blogs .checkblogsbtn .checkbtn .checkancor {
  color: #1E1E1E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.faq-banner .form-control:focus {
  border: none;
}

.accordion .accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}
.accordion .accordion-item .accordion-button {
  color: #1e1e1e;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0px;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  padding-left: 0px;
}
.accordion .accordion-item .accordion-button:focus,
.accordion .accordion-item .accordion-button :not(:focus) {
  color: #1e1e1e;
}
.accordion .accordion-item .accordion-button::after {
  background-image: url("../images/plus.svg");
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.png");
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.background {
  position: relative;
  background-image: url("../images/book-background.png");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.background::before {
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  content: "";
  background-image: url("../images/background-vector.svg");
  background-repeat: no-repeat;
  padding-right: 10px;
}
.background .content {
  z-index: 2;
  position: relative;
}
.background .content .container .signin-nav-bar {
  margin-right: 64px;
}
.background .nav {
  display: none;
}
.background .btn {
  border-radius: 24px;
}
.background .btn-dark {
  background-color: #1e1e1e;
}
.background form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 24px;
}
.background form .forgot {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
}
.background .redirect-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.background .redirect-signup a {
  margin-left: 4px;
}
.background .forgot {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (min-width: 768px) {
  .background .content .nav {
    display: block;
  }
}

.nav-bar {
  padding: 15px 0;
  background-color: white;
  -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.07);
}
.nav-bar ul {
  width: 224px;
  position: absolute;
}
.nav-bar .navigation {
  display: none;
}
.nav-bar .search {
  display: none;
}
.nav-bar .searchformborder {
  border: 1px solid #dee2e6;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.nav-bar .circle {
  overflow: hidden;
  display: none;
  border: 2px solid #1e1e1e;
  padding: 6px 3px;
  border-radius: 50px;
}
.nav-bar .circle svg {
  margin-bottom: -8px;
}
.nav-bar .hidden {
  display: block;
}
@media (min-width: 992px) {
  .nav-bar ul {
    width: auto;
  }
  .nav-bar .navigation {
    display: block;
  }
  .nav-bar .hidden {
    display: none;
  }
  .nav-bar .circle {
    display: block;
  }
}

.about-banner {
  text-align: center;
  font-family: "roboto", sans-serif;
}
.about-banner h1 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
}
.about-banner h2 {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.about-banner p {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.about-banner button {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 576px) {
  .about-banner h1 {
    font-size: 40px;
  }
  .about-banner h2 {
    font-size: 32px;
  }
  .about-banner p {
    font-size: 16px;
    line-height: 25px;
  }
  .about-banner button {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .about-banner {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .about-banner h1 {
    font-size: 48px;
  }
}

.recentBlogs h2 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .recentBlogs h2 {
    font-size: 32px;
  }
}

.missions h2 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
}
.missions .mission .mission-heading {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.missions .mission .number {
  color: #1e1e1e;
  font-family: PT Serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 5.76px;
}
.missions .mission p {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 576px) {
  .missions h2 {
    font-size: 32px;
  }
  .missions .mission .mission-heading {
    font-size: 16px;
  }
  .missions .mission .number {
    font-size: 40px;
  }
  .missions .mission p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .missions .mission .mission-heading {
    font-size: 18px;
  }
  .missions .mission .number {
    font-size: 64px;
  }
}

.faq-banner {
  text-align: center;
}
.faq-banner .faq-banner-content {
  margin-top: 10px;
}
.faq-banner h3 {
  color: #D10011;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
}
.faq-banner h1 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
}
.faq-banner p {
  color: #7F7F7F;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 400;
}
.faq-banner .btn {
  color: #fff;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .faq-banner h3 {
    font-size: 10px;
  }
  .faq-banner h1 {
    font-size: 32px;
  }
  .faq-banner p {
    font-size: 12px;
  }
  .faq-banner .btn {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .faq-banner {
    text-align: left;
  }
  .faq-banner .faq-banner-content {
    margin-top: 0px;
  }
  .faq-banner h3 {
    font-size: 16px;
  }
  .faq-banner h1 {
    font-size: 48px;
  }
  .faq-banner p {
    font-size: 14px;
  }
  .faq-banner .btn {
    font-size: 10px;
  }
}

.questions .general {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .questions .general {
    font-size: 32px;
  }
}

.accordion .accordion-item .accordion-header {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 700;
}
.accordion .accordion-item .accordion-body {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
}
@media (min-width: 992px) {
  .accordion .accordion-item .accordion-header {
    font-size: 18px;
  }
  .accordion .accordion-item .accordion-body {
    font-size: 16px;
  }
}

.faq-about-section .faq-about-heading {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
}
.faq-about-section .faq-about-p {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 8px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .faq-about-section .faq-about-heading {
    font-size: 12px;
  }
  .faq-about-section .faq-about-p {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .faq-about-section .faq-about-heading {
    font-size: 16px;
  }
  .faq-about-section .faq-about-p {
    font-size: 14px;
  }
}

.container-signin h2 {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
}
.container-signin h1 {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
}
.container-signin form label {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .container-signin form label {
    font-size: 18px;
  }
}
.container-signin form input[type=text],
.container-signin form input[type=email],
.container-signin form input[type=password] {
  padding: 10px 0;
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  width: auto;
  outline: none;
  border: none;
  border-bottom: #7F7F7F solid 1px;
}
.container-signin form input[type=text]::-webkit-input-placeholder, .container-signin form input[type=email]::-webkit-input-placeholder, .container-signin form input[type=password]::-webkit-input-placeholder {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
.container-signin form input[type=text]::-moz-placeholder, .container-signin form input[type=email]::-moz-placeholder, .container-signin form input[type=password]::-moz-placeholder {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
.container-signin form input[type=text]:-ms-input-placeholder, .container-signin form input[type=email]:-ms-input-placeholder, .container-signin form input[type=password]:-ms-input-placeholder {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
.container-signin form input[type=text]::-ms-input-placeholder, .container-signin form input[type=email]::-ms-input-placeholder, .container-signin form input[type=password]::-ms-input-placeholder {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
.container-signin form input[type=text]::placeholder,
.container-signin form input[type=email]::placeholder,
.container-signin form input[type=password]::placeholder {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .container-signin form input[type=text]::-webkit-input-placeholder, .container-signin form input[type=email]::-webkit-input-placeholder, .container-signin form input[type=password]::-webkit-input-placeholder {
    font-size: 14px;
  }
  .container-signin form input[type=text]::-moz-placeholder, .container-signin form input[type=email]::-moz-placeholder, .container-signin form input[type=password]::-moz-placeholder {
    font-size: 14px;
  }
  .container-signin form input[type=text]:-ms-input-placeholder, .container-signin form input[type=email]:-ms-input-placeholder, .container-signin form input[type=password]:-ms-input-placeholder {
    font-size: 14px;
  }
  .container-signin form input[type=text]::-ms-input-placeholder, .container-signin form input[type=email]::-ms-input-placeholder, .container-signin form input[type=password]::-ms-input-placeholder {
    font-size: 14px;
  }
  .container-signin form input[type=text]::placeholder,
  .container-signin form input[type=email]::placeholder,
  .container-signin form input[type=password]::placeholder {
    font-size: 14px;
  }
}
.container-signin form input[type=text]:focus,
.container-signin form input[type=email]:focus,
.container-signin form input[type=password]:focus {
  border-bottom: #33BBFF solid 1px;
}
.container-signin form input[type=text].invalid-input,
.container-signin form input[type=email].invalid-input,
.container-signin form input[type=password].invalid-input {
  border-bottom: #D10011 solid 1px;
}
.container-signin form input[type=text].signin,
.container-signin form input[type=email].signin,
.container-signin form input[type=password].signin {
  width: 100%;
}
.container-signin form input[type=text] .btn,
.container-signin form input[type=email] .btn,
.container-signin form input[type=password] .btn {
  color: white;
  font-family: Roboto;
  font-size: 8px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .container-signin form input[type=text],
  .container-signin form input[type=email],
  .container-signin form input[type=password] {
    width: 295px;
  }
}
@media (min-width: 1200px) and (min-width: 768px) {
  .container-signin form input[type=text],
  .container-signin form input[type=email],
  .container-signin form input[type=password] {
    font-size: 12px;
    width: 245px;
  }
}
.container-signin form .invalid {
  display: none;
  color: #D10011;
  font-family: Roboto;
  font-size: 8px;
  font-weight: 400;
}
.container-signin form .forgot {
  color: #888888;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
.container-signin form .checkbox {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}
.container-signin form .checkbox a {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}
.container-signin form .checkbox a:hover {
  color: #33bbff;
}
.container-signin .redirect-signup {
  color: #7F7F7F;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.container-signin .redirect-signup a {
  color: #7f7f7f;
}
.container-signin .redirect-signup a:hover {
  color: #33bbff;
}
@media (min-width: 768px) {
  .container-signin h2 {
    font-size: 36px;
  }
  .container-signin h1 {
    font-size: 40px;
  }
  .container-signin form label {
    font-size: 18px;
  }
  .container-signin form .btn {
    font-size: 14px;
  }
  .container-signin form .invalid {
    font-size: 12px;
  }
  .container-signin form .forgot {
    font-size: 14px;
  }
  .container-signin form .checkbox {
    font-size: 14px;
  }
  .container-signin form .checkbox a {
    font-size: 14px;
  }
  .container-signin .redirect-signup {
    font-size: 14px;
  }
}
.container-signin .field-active {
  border-bottom: 2px solid #33bbff;
  color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-signin .field-invalid {
  border-bottom: 2px solid #ff0000;
  color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-button, .navigation-button-enabled, .navigation-button-enabled {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  padding: 8px 12px 5px;
}
.navigation-button h3, .navigation-button-enabled h3, .navigation-button-enabled h3 {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}
@media (min-width: 1200px) {
  .navigation-button h3, .navigation-button-enabled h3, .navigation-button-enabled h3 {
    font-size: 18px;
  }
}

.navigation-button-enabled:hover {
  background-color: #1e1e1e;
  color: white;
}
.navigation-button-enabled:hover svg path {
  stroke: white;
}
.navigation-button-enabled:hover h3 {
  color: white;
}

.navigation-button-enabled {
  color: white;
  background-color: #1e1e1e;
}
.navigation-button-enabled svg path {
  stroke: white;
}
.navigation-button-enabled h3 {
  color: white;
}

.search {
  overflow: hidden;
  border: 2px solid #1e1e1e;
  border-radius: 25px;
}
.search:hover input {
  -webkit-animation-name: expand-search-bar;
          animation-name: expand-search-bar;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  width: 70px;
  padding-left: 10px;
}
@-webkit-keyframes expand-search-bar {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
@keyframes expand-search-bar {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .search:hover input {
    -webkit-animation-name: expand-search-bar;
            animation-name: expand-search-bar;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    width: 110px;
  }
  @-webkit-keyframes expand-search-bar {
    from {
      width: 0px;
    }
    to {
      width: 110px;
    }
  }
  @keyframes expand-search-bar {
    from {
      width: 0px;
    }
    to {
      width: 110px;
    }
  }
}
.search input {
  width: 0px;
  border: none;
  outline: none;
}
.search input:focus {
  width: 70px;
  padding-left: 10px;
}
@media (min-width: 1200px) {
  .search input:focus {
    width: 110px;
  }
}

footer {
  background-color: #1E1E1E;
  width: 100%;
  padding: 40px 0 0 0;
}
footer .logos {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .logos .logo {
  width: 149px;
  height: 26px;
}
footer .logos .socials {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
footer .logos .socials .footlogo {
  height: 35px;
  width: 35px;
}
footer .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .lists .list {
  padding: 0;
}
footer .lists .list .listtitle {
  font-size: 18px;
  color: white;
  list-style: none;
  margin-bottom: 25px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 767.98px) {
  footer .lists .list .listtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
footer .lists .list .listitem {
  color: white;
  list-style: none;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  footer .lists .list .listitem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8px 12px;
    margin: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}
footer .lists .list .listitem .footlink {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  footer .lists .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  footer .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
  color: #1E1E1E;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 0;
}
@media screen and (max-width: 768px) {
  footer .copyright {
    margin-top: 20px;
  }
}