@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
  }
.background
{
position: relative;
    background-image: url("../images/trnava-university-BEEyeib-am8-unsplash\ 1.png");
height: 100%;
width: 100%;

}
.background::before
{
    width: 97%;
    height: 100%;
    position:absolute;
    z-index: 0;
    content: "";
    background-image: url("../images/Vector\ 2.svg") ;
    background-repeat: no-repeat;
    padding-right: 10px;
}
.content
{
    position: relative;
    z-index: 1;
}

header .container
{
    padding:34px 0px ;
    display: flex;
    justify-content: space-between;
}
.btn
{
    border-radius: 24px;
}
header .btn-dark
{
    background-color: black;
}
.signup-signin
{
    margin-right: 64px;
}
.redirect-signup
{
    color: #A6A6A6;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    display:flex;
}
.redirect-signup a{
    color:#7F7F7F;
    margin-left: 4px;
}
.redirect:hover{
    color:#33BBFF;
}
form
{
    display:flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 49px ;
    /* align-items: start; */
}
.forgot
{
    align-self: flex-end;
    text-decoration: none;
    color:#888888;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.field
{
border-bottom: 2px solid #CECECE;
color: #CECECE;
display: flex;
justify-content: space-between;
}
input, input:focus
{
    outline: none;
    border: none;
    border-bottom: #000 solid 1px;
    width: 250px;
}
.term-policy:hover
{
    color:#33BBFF;

}
.term-policy
{
    color: #7F7F7F;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.checkbox
{
    color: #A6A6A6;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.checkbox input
{
    margin: 0 4px;
}

.invalid
{
    visibility: hidden;
    color: var(--booked-red, #FE0116);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0;
margin: 0;
}
h2
{
    color: #000;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
h1
{
    color: #1E1E1E;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
label
{
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.field-active
{

    border-bottom: 2px solid #33BBFF;
    color: #CECECE;
    display: flex;
    justify-content: space-between;

}
.field-invalid
{

    border-bottom: 2px solid #FF0000;
    color: #CECECE;
    display: flex;
    justify-content: space-between;
}

/* @media (min-width: 1440px){
    body::before{
        background-size: cover;
    }
} */