body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

table {
  width: 100%;
  margin: 50px 0 35px 0;
}
@media screen and (max-width: 767px) {
  table {
    margin-bottom: 10px;
  }
}

th {
  padding-bottom: 40px;
  border-bottom: 1px solid #7F7F7F;
  padding-right: 20px;
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

td {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #7F7F7F;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.herobanner {
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
}
@media screen and (max-width: 768px) {
  .herobanner img {
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .herobanner img {
    position: relative;
  }
}
@media screen and (max-width: 1260px) {
  .herobanner {
    width: 100%;
  }
}
.herobanner .herotext {
  padding: 182.46px 0;
}
.herobanner .herotext h1 {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 476px) {
  .herobanner .herotext h1 {
    font-size: 34px;
  }
}
.herobanner .herotext p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 28px 0;
}
.herobanner .herotext button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  padding: 10px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(30, 30, 30, 0);
  background: #FFF;
}
.herobanner .herotext button a {
  text-decoration: none;
  color: #1E1E1E;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.herobanner .herotext button img {
  padding-left: 10px;
}
@media screen and (max-width: 425px) {
  .herobanner .herotext {
    padding: 14% 2%;
  }
}
@media screen and (max-width: 768px) {
  .herobanner .herotext {
    padding: 72.46px 0;
  }
}
.herobanner .heroimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}
@media screen and (max-width: 425px) {
  .herobanner .heroimages {
    padding: 0;
  }
  .herobanner .heroimages img {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .herobanner .heroimages img {
    position: absolute;
    width: 54%;
    right: 0%;
    top: 8%;
  }
}
@media screen and (max-width: 992px) {
  .herobanner .heroimages img {
    position: absolute;
    width: 40%;
    right: 5%;
    top: 50%;
  }
}
@media screen and (max-width: 768px) {
  .herobanner .heroimages img {
    position: absolute;
    width: 40%;
    right: 5%;
    top: 38%;
  }
}

.mainblog h1 {
  color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 0 70px 0;
  margin-bottom: 0;
  line-height: 1;
}
.mainblog .blogimg1 {
  height: 347px;
  width: 100%;
}
@media screen and (max-width: 1399px) {
  .mainblog .blogimg1 {
    height: 100%;
  }
}
@media screen and (max-width: 425px) {
  .mainblog .blogimg1 {
    height: auto;
  }
}
.mainblog .blogcont {
  padding-left: 9px;
  width: 100%;
}
.mainblog .blogcont h2 {
  color: #1E1E1E;
  font-size: 32px;
  font-weight: 500;
  padding-top: 15px;
  margin-bottom: 0;
}
@media screen and (max-width: 425px) {
  .mainblog .blogcont h2 {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
    margin-bottom: 0;
  }
}
.mainblog .blogcont .blog1pag {
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.889%;
  font-style: normal;
  margin: 25px 0;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .mainblog .blogcont .blog1pag {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 138.889%;
    font-style: normal;
    margin: 25px 0;
  }
}
.mainblog .blogcont .bigbtn {
  width: 168px;
  border: 0;
  border-radius: 5px;
  background: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 12px 0;
}
.mainblog .blogcont .bigbtn .blogsancor {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 425px) {
  .mainblog .blogcont .bigbtn {
    background: #1E1E1E;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    border: none;
  }
}

.blogs {
  margin: 70px 0;
}
.blogs .eachblog {
  margin: 0 0 70px 0;
}
.blogs .eachblog .blogsimage2 {
  width: 100%;
}
.blogs .eachblog h3 {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 15px 0 8px 0;
}
.blogs .eachblog .pubdate {
  color: #7F7F7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.blogs .eachblog .blogconte {
  color: #3D3D3D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  padding-right: 20px;
}
.blogs .eachblog .secbtn {
  background: #1E1E1E;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border: none;
}
.blogs .eachblog .secbtn .blogsancor {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.blogspagebtn {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 27px;
}
@media screen and (max-width: 767px) {
  .blogspagebtn {
    margin-top: 30px;
  }
}
.blogspagebtn .pagestn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: 2px solid #1E1E1E;
}
.blogspagebtn .pagestn .pagesbtnancor {
  text-decoration: none;
  color: #3D3D3D;
}
.blogspagebtn .paginationext {
  text-decoration: none;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}

.profile {
  background-color: #F2F4F5;
}
.profile .profileinfo {
  margin: 44px 0 0 0;
}
.profile .profileinfo h1 {
  display: block;
  padding: 0;
  height: 56px;
}
.profile .profileinfo .profileform {
  margin: 47px 0;
}
.profile .profileinfo .profileform .label {
  color: #9F9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile .profileinfo .profileform .place {
  margin-bottom: 45px;
  width: 100%;
  max-height: 36px;
  color: #1E1E1E;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #9F9E9E;
  background-color: #F2F4F5;
}
.profile .profileinfo .profileform .place::-webkit-input-placeholder {
  color: #1E1E1E;
}
.profile .profileinfo .profileform .place::-moz-placeholder {
  color: #1E1E1E;
}
.profile .profileinfo .profileform .place:-ms-input-placeholder {
  color: #1E1E1E;
}
.profile .profileinfo .profileform .place::-ms-input-placeholder {
  color: #1E1E1E;
}
.profile .profileinfo .profileform .place::placeholder {
  color: #1E1E1E;
}
.profile .profileinfo .profilebtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 95px;
  height: 40px;
  min-width: 95px;
  padding: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #CFCFCF;
  margin-right: 20px;
  border: none;
}

.Booked-books {
  background-color: #F2F4F5;
}
.Booked-books .profileinfo {
  margin: 44px 0 0 0;
}
@media screen and (max-width: 768px) {
  .Booked-books .profileinfo .bookedactions {
    height: 80%;
    width: 100%;
    padding-left: 15%;
  }
}

.Booked-books-edit {
  background-color: #F2F4F5;
}
.Booked-books-edit .profileinfo {
  margin: 44px 0 0 0;
}
.Booked-books-edit .profileinfo h1 {
  display: block;
  padding: 0;
  height: 56px;
}
.Booked-books-edit .profileinfo .bookingedit {
  padding-top: 175px;
}
@media screen and (max-width: 768px) {
  .Booked-books-edit .profileinfo .bookingedit {
    padding-top: 30px;
  }
}
.Booked-books-edit .profileinfo .bookingedit h4 {
  color: #9F9E9E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.Booked-books-edit .profileinfo .bookingedit h3 {
  padding: 70px 0;
  color: #3D3D3D;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  padding: 0;
}
.Booked-books-edit .profileinfo .bookingedit .editform {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .Booked-books-edit .profileinfo .bookingedit .editform {
    gap: 24px;
    padding: 37px 0;
  }
}
@media screen and (max-width: 1110px) {
  .Booked-books-edit .profileinfo .bookingedit .editform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Booked-books-edit .profileinfo .bookingedit .editform input {
  border: 1px solid #9F9E9E;
  border-radius: 10px;
  padding: 10px 16px;
  width: 285px;
}
.Booked-books-edit .profileinfo .bookingedit .editform input-icon {
  position: absolute;
  right: 13px;
  top: 7px;
  bottom: 8px;
}
.Booked-books-edit .profileinfo .bookingedit .editform input[type=date] {
  color: #9F9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Booked-books-edit .profileinfo .bookingedit .editform input[type=date]::-webkit-calendar-picker-indicator {
  background: url("../images/calendar.svg") no-repeat center/80%;
  color: #9F9E9E;
}
.Booked-books-edit .profileinfo .editbtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #FFF;
  width: 95px;
  height: 40px;
  min-width: 95px;
  padding: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #1E1E1E;
  margin-right: 20px;
  border: none;
}

.bookhistory {
  background-color: #F2F4F5;
}

.Rented-books {
  background-color: #F2F4F5;
}
.Rented-books .profileinfo {
  margin: 44px 0 0 0;
}
.Rented-books .profileinfo h1 {
  display: block;
  padding: 0;
  height: 56px;
}

.Saved-books {
  background-color: #F2F4F5;
}
.Saved-books .profileinfo {
  margin: 44px 0 0 0;
}
.Saved-books .profileinfo h1 {
  display: block;
  padding: 0;
  height: 56px;
}
.Saved-books .profileinfo .trashicon {
  padding-left: 30%;
}

.profilenavigation {
  padding: 44px 0 84px 0;
  background-color: #FFF;
  -webkit-box-shadow: 8px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profilenavigation .profilepic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.profilenavigation .profilepic .pp {
  border-radius: 120px;
  width: 187px;
}
.profilenavigation .profilepic h2 {
  color: #1E1E1E;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  padding-top: 15px;
}
.profilenavigation .profilenav {
  padding-top: 58px;
}
@media (min-width: 768px) {
  .profilenavigation .profilenav {
    display: block !important;
  }
}
.profilenavigation .profilenav .navbar-nav {
  display: block;
}
@media (min-width: 768px) {
  .profilenavigation .profilenav .navbar-nav {
    display: none !important;
  }
}
.profilenavigation .profilenav .collapse:not(.show) {
  display: none;
}
.profilenavigation .profilenav h3 {
  color: #1E1E1E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
.profilenavigation .profilenav h3 a {
  color: #1E1E1E;
  text-decoration: none;
}

footer {
  background-color: #1E1E1E;
  height: 100%;
  width: 100%;
  padding: 40px 0 0 0;
}
footer .logos {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .logos .logo {
  width: 149px;
  height: 26px;
}
footer .logos .socials {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
footer .logos .socials .footlogo {
  height: 35px;
  width: 35px;
}
@media screen and (max-width: 425px) {
  footer .logos {
    padding-left: 25px;
  }
}
footer .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .lists .list .listtitle {
  font-size: 18px;
  color: white;
  list-style: none;
  margin-bottom: 25px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 767.98px) {
  footer .lists .list .listtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
footer .lists .list .listitem {
  color: white;
  list-style: none;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  footer .lists .list .listitem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8px 12px;
    margin: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}
footer .lists .list .listitem .footlink {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  footer .lists .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  footer .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
  color: #1E1E1E;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 0;
}