.genre
{
    display: flex;
    // height: 386px;
    width:  216px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    img
    {
        border-radius: 100px;
        border: 1px dashed rgba(30, 30, 30, 0.40);   
        display: flex;
        padding: 10px;
        align-items: flex-start;
        gap: 10px; 
    }
h4
{   
    margin-top: auto;
    color: $primary;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}
p
{
    margin-top: auto;
    color: rgba(30, 30, 30, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
}