.star
    {
        stroke:#9F9E9E;
    }
    .star-glow
    {
        stroke:#ffd000;
        fill: #ffd000;
    }

.review
{
    
    .star:hover
    {
        stroke:#ffd000;
        fill: #ffd000;
    }
}
