.about-banner {
    text-align: center;

    font-family: 'roboto', sans-serif;

    h1 {
        @include text(24px, Rubik, 500, $black);
    }

    h2 {
        @include text(16px, Roboto, 500, $black);
    }

    p {
        @include text(14px, Roboto, 400, $gray);
    }

    button {
        @include text(14px, Roboto, 600, $black);
        text-align: center;
    }

    @media (min-width: $s) {
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 16px;
            line-height: 25px;
        }

        button {
            font-size: 16px;
        }
    }

    @media (min-width: $md) {
        text-align: left;
    }

    @media (min-width: $lg) {
        h1 {
            font-size: 48px;
        }
    }
}
